streamlit
numpy
pandas
plotly
scipy
yfinance
arch
statsmodels
pandas-datareader
pickle-mixin
# Added for DoltHub access
mysql-connector-python
# Added for News API and Sentiment
newsapi-python
vaderSentiment
